@font-face {
  font-family: 'NH';
  src: url('fonts/Nanami-Heavy.otf');
}

body {
	background-color: #1c1c1c;
	margin:0;
}

header {
	font-family: "NH", "Helvetica Header", "Arial Black";
	color: white;
	text-align: center;
	background: #1c1c1c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #1c1c1c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #1c1c1c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #1c1c1c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #1c1c1c); /* Standard syntax */
	height: 400px;

	padding-top: 8rem;
}

#evg {
	color: #4d994c;
}

#tyee {
	color: #e33636;
}

#evg, #tyee {
	line-height: 0;
	font-size: 62pt;
}

#wrestling {
	font-size: 90pt;
	color: #f8dc7c;
}